@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Shantell Sans', cursive;
  margin: 0;
  padding: 0;
}

button,
#clock {
  -webkit-user-select: none;
  user-select: none;
}


#clock-widget {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 14px;
  padding: 10px;
  background-color: #0000005b;
  border-radius: 10px;
  cursor: pointer;
}

#fullscreen-btn {
  display: inline-block;
  border: none;
  background: none;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  ;
  padding: 10px 15px;
  font-size: 14px;
  background-color: #0000005b;
  border-radius: 10px;
}

/* css grid layout */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  height: 100vh;
}

.header {
  grid-area: header;
  color: white;
  padding: 20px;
  padding-left: 41px;
}

.sidebar {
  grid-area: sidebar;
  padding: 20px;
}

/* box content */
.content {
  grid-area: content;
  padding: 20px 0px;
  padding-right: 30px;
}

.box_content {
  margin-top: 20px;
  background-color: #00000044;
  width: auto;
  height: 350px;
  border-radius: 15px;
}

.content .box_content #content {
  padding: 15px 30px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.footer {
  grid-area: footer;
  color: white;
  padding: 20px;
  text-align: center;
}

/* button change bg */
.cta {
  border: none;
  background: none;
}

.cta span {
  font-weight: bold;
  font-family: 'Shantell Sans', cursive;
  letter-spacing: 4px;
  font-size: 14px;
  padding: 10px;
  text-transform: uppercase;
  background-color: #00000050;
  border-radius: 10px;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ...................... */
/* play music */
h1,
h2 {
  text-align: center;
}

#playlist,
#controls {
  display: inline-block;
  vertical-align: top;
  margin: 20px;
}

#playlist {
  width: 300px;

}

#playlist h2 {
  padding: 10px;
  color: #fff;
  text-align: left;
}

#controls {
  width: 100px;
  text-align: center;
}

#songs {
  list-style-type: none;
  padding: 0;
  font-weight: bold;
  font-family: 'Shantell Sans', cursive;
  letter-spacing: 4px;
  font-size: 12px;
  padding: 10px;
  text-transform: uppercase;
  background-color: #00000050;
  border-radius: 10px;
}

li {
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  transition: transform .2s;
  overflow: value;
}

li:hover {
  transform: scale(1.1);
}

#playpause {
  font-family: 'Shantell Sans', cursive;
  font-size: 30px;
  border: none;
  background-color: #ffffff00;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#playpause:hover {
  background-color: #0057b300;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.header input {
  float: right;
  background-color: #fff;
}

.slider {
  appearance: none;
  width: 100px;
  height: 2px;
  outline: none;
  border-radius: 0.25rem;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #575757;
  border: 0.25rem solid #fff;
  border-radius: 1rem;
  cursor: pointer;
}